
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
 font-family: 'Montserrat', system-ui, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: cadetblue;
}
.header__logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav__link{
    color: beige;
    padding: 4 px 16 px;
    background-color: darkolivegreen;
    border-radius: 15px;
    border: 1px solid white;
}

.nav__link:hover{
    background-color: #2c5530;
    color: white;
    border: 1px solid white;
}

.nav__item--active .nav__link {
    color: #2c5530;
    border-bottom: 2px solid #2c5530;
}
.card { 
    width: 400px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 24px 0;
}

.largecard {
    padding: 1rem;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 24px 0;
}

.card:hover { 
    border: 1px solid #ddd;
    background-color: rgb(139, 166, 167);
}

.largecard:hover{
    border: 1px solid #ddd;
    background-color: rgb(216, 233, 233);
}

.card--featured {
    background: #f8f9fa;
    border-color: #2c5530;
}

.largecard--featured {
    background: #f8f9fa;
    border-color: #2c5530;
}


main{
    padding: 1.5 rem;
}

.footer{
    background-color: cadetblue;
    border-color:rgb(139, 166, 167);
}